services:
    # Init Listener
    acilia.translation.listener.init:
        class: Acilia\Bundle\TranslationBundle\EventListener\InitListener
        arguments: ["@acilia.translation.loader", "@event_dispatcher", "@translator.default"]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: initialize, priority: 16 }
            - { name: kernel.event_listener, event: console.command, method: initialize, priority: 16 }

    # Translation Loader
    acilia.translation.loader:
        class: Acilia\Bundle\TranslationBundle\Library\Translation\Loader
        arguments: [%kernel.cache_dir%, "@doctrine", "@logger", %kernel.debug%, %acilia.translation.cache%]

   # Translations Cache Warmer
    acilia.translation.cache_warmer:
        class: Acilia\Bundle\TranslationBundle\Library\Translation\CacheWarmer
        arguments: ["@event_dispatcher", "@acilia.translation.loader"]
        tags:
            - { name: kernel.cache_warmer }
